<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
   <div class="container my-4 mt-4">
  <h6>About Taniya : Your HealthTech Innovator</h6>
  <h5>Meet the Developers</h5>

  <p>Hello! I am <strong>Taniya</strong>, passionate 3rd year B.Tech students with a strong inclination towards Artificial Intelligence, Machine Learning, and impactful technology. I'm on a mission to bridge the gap between healthcare and intelligent systems through innovation and determination.</p>

  <h5>My Journey in Tech</h5>
  <p>Coming from a background in Computer Science and Engineering, I've immersed ourselves in real-world projects, internships, and hands-on learning throughout our academic career. Whether it's working on machine learning models or building full-stack web applications, we've always strived to create solutions that matter.</p>

  <h5>Why HealthTech?</h5>
  <p>I’ve always believed that technology should serve people, especially when it comes to health. This belief inspired the development of this platform — an AI-powered medical recommendation system designed to provide quick, personalized health suggestions and disease predictions based on symptoms.</p>

  <h5>What We Offer</h5>
  <p>My platform combines simplicity with intelligence. By analyzing symptoms and providing AI-driven insights, we aim to make healthcare more accessible, especially to those seeking instant guidance. I continuously learning, evolving, and enhancing this system with the latest tools in AI and ML.</p>

  <h5>Driven by Purpose</h5>
  <p>This project is not just an academic milestone for us — it's a reflection of my values, my learning, and my shared dream of using technology to make lives better. From user-friendly UI to intelligent backend logic, every piece of this project has been built with care and purpose.</p>

  <h5>Join Our Mission</h5>
  <p>I invite you to explore My platform and share your feedback.I'm just beginning my journey as AI engineers, and with your support, I hope to keep building systems that empower, assist, and uplift.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>